// Neutrals/White
$white-100: var(--white-100);
$white-90: var(--white-90);
$white-80: var(--white-80);
$white-70: var(--white-70);
$white-60: var(--white-60);
$white-50: var(--white-50);
$white-40: var(--white-40);
$white-30: var(--white-30);
$white-20: var(--white-20);
$white-10: var(--white-10);

// Neutrals/Black
$black-100: var(--black-100);
$black-90: var(--black-90);
$black-80: var(--black-80);
$black-70: var(--black-70);
$black-60: var(--black-60);
$black-50: var(--black-50);
$black-40: var(--black-40);
$black-30: var(--black-30);
$black-20: var(--black-20);
$black-10: var(--black-10);

// Service/Danger
$danger-0: var(--red-0);
$danger-900: var(--red-900);
$danger-800: var(--red-800);
$danger-700: var(--red-700);
$danger-600: var(--red-600);
$danger-500: var(--red-500);
$danger-400: var(--red-400);
$danger-300: var(--red-300);
$danger-200: var(--red-200);
$danger-100: var(--red-100);
$danger-50: var(--red-50);
$danger-alpha: var(--red-alpha);

// Service/Warning
$warning-0: var(--orange-0);
$warning-900: var(--orange-900);
$warning-800: var(--orange-800);
$warning-700: var(--orange-700);
$warning-600: var(--orange-600);
$warning-500: var(--orange-500);
$warning-400: var(--orange-400);
$warning-300: var(--orange-300);
$warning-200: var(--orange-200);
$warning-100: var(--orange-100);
$warning-50: var(--orange-50);
$warning-alpha: var(--orange-alpha);

// Service/Success
$success-0: var(--green-0);
$success-900: var(--green-900);
$success-800: var(--green-900);
$success-700: var(--green-700);
$success-600: var(--green-600);
$success-500: var(--green-500);
$success-400: var(--green-400);
$success-300: var(--green-300);
$success-200: var(--green-200);
$success-100: var(--green-100);
$success-50: var(--green-50);
$success-alpha: var(--green-alpha);

// Service/Info
$info-0: var(--blue-0);
$info-900: var(--blue-900);
$info-800: var(--blue-800);
$info-700: var(--blue-700);
$info-600: var(--blue-600);
$info-500: var(--blue-500);
$info-400: var(--blue-400);
$info-300: var(--blue-300);
$info-200: var(--blue-200);
$info-100: var(--blue-100);
$info-50: var(--blue-50);
$info-alpha: var(--blue-alpha);

// Service/Help
$help-0: var(--purple-0);
$help-900: var(--purple-900);
$help-800: var(--purple-800);
$help-700: var(--purple-700);
$help-600: var(--purple-600);
$help-500: var(--purple-500);
$help-400: var(--purple-400);
$help-300: var(--purple-300);
$help-200: var(--purple-200);
$help-100: var(--purple-100);
$help-50: var(--purple-50);
$help-alpha: var(--purple-alpha);

// Surface
$gray-0: var(--gray-0);
$gray-900: var(--gray-900);
$gray-800: var(--gray-800);
$gray-700: var(--gray-700);
$gray-600: var(--gray-600);
$gray-500: var(--gray-500);
$gray-400: var(--gray-400);
$gray-300: var(--gray-300);
$gray-200: var(--gray-200);
$gray-100: var(--gray-100);
$gray-50: var(--gray-50);
$gray-alpha: var(--gray-alpha);
