:root {
    --font-family: #{$fontFamily};

    --text-color: #{$textColor};
    --text-color-secondary: #{$textSecondaryColor};
    --secondary-color: #{$textSecondaryColor};
    --primary-color: #{$primaryColor};
    --primary-color-text: #{$primaryColorText};

    --content-padding: #{$panelContentPadding};
    --inline-spacing: #{$inlineSpacing};

    --border-radius: #{$borderRadius};

    --focus-ring: #{$focusShadow};

    --maskbg: #{$maskBg};

    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};

    // surface
    --surface-0: #{$surface-0};
    --surface-50: #{$surface-50};
    --surface-100: #{$surface-100};
    --surface-200: #{$surface-200};
    --surface-300: #{$surface-300};
    --surface-400: #{$surface-400};
    --surface-500: #{$surface-500};
    --surface-600: #{$surface-600};
    --surface-700: #{$surface-700};
    --surface-800: #{$surface-800};
    --surface-900: #{$surface-900};
    --surface-ground: #{$surface-ground};
    --surface-section: #{$surface-section};
    --surface-card: #{$surface-card};
    --surface-overlay: #{$surface-overlay};
    --surface-border: #{$surface-border};
    --surface-hover: #{$surface-hover};


    // Primary
    --primary-0: #{$primary-0};
    --primary-50: #{$primary-50};
    --primary-100: #{$primary-100};
    --primary-200: #{$primary-200};
    --primary-300: #{$primary-300};
    --primary-400: #{$primary-400};
    --primary-500: #{$primary-500};
    --primary-600: #{$primary-600};
    --primary-700: #{$primary-700};
    --primary-800: #{$primary-800};
    --primary-900: #{$primary-900};
    --primary-alpha: #{$primary-alpha};

    color-scheme: #{$colorScheme};
}
