// Surface
$surface-0: $gray-50;
$surface-900: $gray-100;
$surface-800: $gray-200;
$surface-700: $gray-300;
$surface-600: $gray-400;
$surface-500: $gray-500;
$surface-400: $gray-600;
$surface-300: $gray-700;
$surface-200: $gray-800;
$surface-100: $gray-900;
$surface-50: $gray-0;
$surface-ground: #1c1b22;
$surface-section: $gray-alpha;
$surface-card: $surface-ground;
$surface-overlay: $black-40;
$surface-border: $surface-100;
$surface-hover: $surface-200;
$surface-transparent: rgba(0, 0, 0, 0.0001);

// General
$colorScheme: "dark";
$primaryColor: $primary-300;
$primaryColorHover: $primary-200;
$primaryColorText: $black-80;
$fontFamily: Roboto, Inter, Helvetica, Arial, sans-serif;
$fontSize: 1rem;
$fontWeight: normal;
$textColor: $white-100;
$textSecondaryColor: $white-80;
$highlightBg: $primaryColor;
$highlightTextColor: $primaryColorText;
$borderRadius: 0.5rem;
$inlineSpacing: 0.5rem;
$disabledOpacity: 0.6;
$dividerColor: $surface-border;
$divider: 1px solid $dividerColor;
$focusOutlineColor: $primary-800;
$focusOutline: none;
$focusOutlineOffset: none;
$focusShadowWidth: 0.25rem;
$focusShadow: 0 0 0 $focusShadowWidth $focusOutlineColor;
$errorColor: $danger-400;
$focusOutlineErrorColor: $danger-800;
$focusShadowError: 0 0 0 $focusShadowWidth $focusOutlineErrorColor;
$transitionDuration: .2s;
$formElementTransition: background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
$maskBg: $surface-overlay;
$primeIconFontSize: 1rem;
$loadingIconFontSize: 2rem;
$actionIconWidth: 2rem;
$actionIconHeight: 2rem;
$actionIconBg: $surface-transparent;
$actionIconColor: $white-80;
$actionIconBorderColor: $surface-transparent;
$actionIconBorder: 1px solid $actionIconBorderColor;
$actionIconHoverBg: $surface-hover;
$actionIconHoverColor: $white-100;
$actionIconHoverBorderColor: $surface-transparent;
$actionIconBorderRadius: $borderRadius;
$actionIconTransition: background-color $transitionDuration, color $transitionDuration, box-shadow $transitionDuration;
$scaleSM: 0.875;
$scaleLG: 1.25;

// Button/Common
$buttonHeight: 2.5rem;
$buttonHeightSM: 2rem;
$buttonHeightLG: 3.5rem;
$buttonHeightXL: 4rem;
$buttonPaddingTopBottom: 0rem;
$buttonPaddingLeftRight: 1rem;
$buttonPadding: $buttonPaddingTopBottom $buttonPaddingLeftRight;
$buttonIconOnlyWidth: $buttonHeight;
$buttonHoverShadowColor: $black-40;
$buttonHoverShadow: 0 .25rem .25rem 0 $buttonHoverShadowColor;
$roundedButtonBorderRadius: 100px;

// Button/Basic
$buttonBg: $primaryColor;
$buttonTextColor: $primaryColorText;
$buttonBorderColor: $surface-transparent;
$buttonBorder: 1px solid $buttonBorderColor;
$buttonHoverBg: $primaryColorHover;
$buttonHoverTextColor: $primaryColorText;
$buttonActiveBg: $buttonBg;
$buttonActiveTextColor: $buttonTextColor;

// Button/Disabled
$disabledButtonBg: $white-20;
$disabledButtonTextColor: $textSecondaryColor;
$disabledButtonBorderColor: $surface-border;

// Button/Outlined
$outlinedButtonBg: $surface-transparent;
$outlinedButtonTextColor: $buttonBg;
$outlinedButtonBorderColor: $primary-800;
$outlinedButtonHoverBg: $surface-transparent;
$outlinedButtonHoverTextColor: $buttonBg;
$outlinedButtonHoverBorderColor: $buttonBg;
$outlinedButtonActiveBg: $surface-transparent;
$outlinedButtonActiveTextColor: $buttonBg;
$outlinedButtonActiveBorderColor: $primary-800;

// Misc/Tag
$tagHeight: 1.5rem;
$tagFontSize: 0.875rem;
$tagPadding: 0.5rem;

// Button/Text
$textButtonBg: $surface-ground;
$textButtonTextColor: $buttonBg;
$textButtonHoverBg: $primary-alpha;
$textButtonHoverTextColor: $buttonBg;
$textButtonActiveBg: $surface-ground;
$textButtonActiveTextColor: $buttonBg;

// Button/Severity/Danger/Basic
$dangerButtonBg: $danger-400;
$dangerButtonTextColor: $primaryColorText;
$dangerButtonBorderColor: $surface-transparent;
$dangerButtonHoverBg: $danger-300;
$dangerButtonHoverTextColor: $primaryColorText;
$dangerButtonHoverBorderColor: $surface-transparent;
$dangerButtonActiveBg: $dangerButtonBg;
$dangerButtonActiveTextColor: $primaryColorText;
$dangerButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Danger/Outlined
$dangerOutlinedButtonBg: $surface-transparent;
$dangerOutlinedButtonTextColor: $dangerButtonBg;
$dangerOutlinedButtonBorderColor: $danger-800;
$dangerOutlinedButtonHoverBg: $surface-transparent;
$dangerOutlinedButtonHoverTextColor: $dangerButtonBg;
$dangerOutlinedButtonHoverBorderColor: $dangerButtonBg;
$dangerOutlinedButtonActiveBg: $surface-transparent;
$dangerOutlinedButtonActiveTextColor: $dangerButtonBg;
$dangerOutlinedButtonActiveBorderColor: $danger-800;

// Button/Severity/Danger/Text
$dangerTextButtonBg: $surface-ground;
$dangerTextButtonTextColor: $dangerButtonBg;
$dangerTextButtonHoverBg: $danger-alpha;
$dangerTextButtonHoverTextColor: $dangerButtonBg;
$dangerTextButtonActiveBg: $surface-ground;
$dangerTextButtonActiveTextColor: $dangerButtonBg;

// Button/Severity/Warning/Basic
$warningButtonBg: $warning-400;
$warningButtonTextColor: $primaryColorText;
$warningButtonBorderColor: $surface-transparent;
$warningButtonHoverBg: $warning-300;
$warningButtonHoverTextColor: $primaryColorText;
$warningButtonHoverBorderColor: $surface-transparent;
$warningButtonActiveBg: $warningButtonBg;
$warningButtonActiveTextColor: $primaryColorText;
$warningButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Success/Basic
$successButtonBg: $success-400;
$successButtonTextColor: $primaryColorText;
$successButtonBorderColor: $surface-transparent;
$successButtonHoverBg: $success-300;
$successButtonHoverTextColor: $primaryColorText;
$successButtonHoverBorderColor: $surface-transparent;
$successButtonActiveBg: $successButtonBg;
$successButtonActiveTextColor: $primaryColorText;
$successButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Success/Outlined
$successOutlinedButtonBg: $surface-transparent;
$successOutlinedButtonTextColor: $successButtonBg;
$successOutlinedButtonBorderColor: $success-800;
$successOutlinedButtonHoverBg: $surface-transparent;
$successOutlinedButtonHoverTextColor: $successButtonBg;
$successOutlinedButtonHoverBorderColor: $successButtonBg;
$successOutlinedButtonActiveBg: $surface-transparent;
$successOutlinedButtonActiveTextColor: $successButtonBg;
$successOutlinedButtonActiveBorderColor: $success-800;

// Button/Severity/Success/Text
$successTextButtonBg: $surface-ground;
$successTextButtonTextColor: $successButtonBg;
$successTextButtonHoverBg: $success-alpha;
$successTextButtonHoverTextColor: $successButtonBg;
$successTextButtonActiveBg: $surface-ground;
$successTextButtonActiveTextColor: $successButtonBg;

// Button/Severity/Info/Basic
$infoButtonBg: $info-400;
$infoButtonTextColor: $primaryColorText;
$infoButtonBorderColor: $surface-transparent;
$infoButtonHoverBg: $info-500;
$infoButtonHoverTextColor: $primaryColorText;
$infoButtonHoverBorderColor: $surface-transparent;
$infoButtonActiveBg: $infoButtonBg;
$infoButtonActiveTextColor: $primaryColorText;
$infoButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Info/Outlined
$infoOutlinedButtonBg: $surface-transparent;
$infoOutlinedButtonTextColor: $infoButtonBg;
$infoOutlinedButtonBorderColor: $info-800;
$infoOutlinedButtonHoverBg: $surface-transparent;
$infoOutlinedButtonHoverTextColor: $infoButtonBg;
$infoOutlinedButtonHoverBorderColor: $infoButtonBg;
$infoOutlinedButtonActiveBg: $surface-transparent;
$infoOutlinedButtonActiveTextColor: $infoButtonBg;
$infoOutlinedButtonActiveBorderColor: $info-800;

// Button/Severity/Info/Text
$infoTextButtonBg: $surface-ground;
$infoTextButtonTextColor: $infoButtonBg;
$infoTextButtonHoverBg: $info-alpha;
$infoTextButtonHoverTextColor: $infoButtonBg;
$infoTextButtonActiveBg: $surface-ground;
$infoTextButtonActiveTextColor: $infoButtonBg;

// Button/Severity/Help/Basic
$helpButtonBg: $help-400;
$helpButtonTextColor: $primaryColorText;
$helpButtonBorderColor: $surface-transparent;
$helpButtonHoverBg: $help-500;
$helpButtonHoverTextColor: $primaryColorText;
$helpButtonHoverBorderColor: $surface-transparent;
$helpButtonActiveBg: $helpButtonBg;
$helpButtonActiveTextColor: $primaryColorText;
$helpButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Help/Outlined
$helpOutlinedButtonBg: $surface-transparent;
$helpOutlinedButtonTextColor: $helpButtonBg;
$helpOutlinedButtonBorderColor: $help-800;
$helpOutlinedButtonHoverBg: $surface-transparent;
$helpOutlinedButtonHoverTextColor: $helpButtonBg;
$helpOutlinedButtonHoverBorderColor: $helpButtonBg;
$helpOutlinedButtonActiveBg: $surface-transparent;
$helpOutlinedButtonActiveTextColor: $helpButtonBg;
$helpOutlinedButtonActiveBorderColor: $help-800;

// Button/Severity/Help/Text
$helpTextButtonBg: $surface-ground;
$helpTextButtonTextColor: $helpButtonBg;
$helpTextButtonHoverBg: $help-alpha;
$helpTextButtonHoverTextColor: $helpButtonBg;
$helpTextButtonActiveBg: $surface-ground;
$helpTextButtonActiveTextColor: $helpButtonBg;

// Misc/Skeleton
$skeletonBg: $surface-100;
$skeletonAnimationBg: rgba(255, 255, 255, 0.1);

// Misc/Badge
$badgeBg: $primaryColor;
$badgeTextColor: $primaryColorText;
$badgeMinWidth: 1.5rem;
$badgeHeight: 1.5rem;
$badgeFontWeight: bold;
$badgeFontSize: 0.75rem;
$badgeDotSize: 0.5rem;

// Misc/Chip
$chipHeight: 1.75rem;
$chipBg: $white-20;
$chipTextColor: $textColor;
$chipBorderRadius: 0.25rem;
$chipBorderColor: $surface-transparent;
$chipBorder: 1px solid $chipBorderColor;
$chipPaddingTopBottom: 0rem;
$chipPaddingLeftRight: 0.5rem;
$chipPadding: $chipPaddingTopBottom $chipPaddingLeftRight;

// Misc/Avatar
$avatarBg: $primaryColor;
$avatarTextColor: $primaryColorText;
$avatarBorderColor: $dividerColor;
$avatarBorder: 1px solid $avatarBorderColor;

// Overlay/Tooltip
$tooltipBg: $surface-800;
$tooltipTextColor: $surface-ground;
$tooltipPaddingTopBottom: 0.5rem;
$tooltipPaddingLeftRight: 1rem;
$tooltipPadding: $tooltipPaddingTopBottom $tooltipPaddingLeftRight;

// Overlay/Overlay
$overlayContentBorderColor: $surface-border;
$overlayContentBorder: 1px solid $overlayContentBorderColor;
$overlayContentBg: $surface-ground;
$overlayContainerShadowColor: $black-40;
$overlayContainerShadow: 0 .25rem .25rem 0 $overlayContainerShadowColor;

// Overlay/Dialog/Header
$dialogHeaderBg: $surface-ground;
$dialogHeaderBorderColor: $surface-border;
$dialogHeaderBorder: 1px solid $dialogHeaderBorderColor;
$dialogHeaderTextColor: $textColor;
$dialogHeaderFontWeight: bold;
$dialogHeaderFontSize: 1.25rem;
$dialogHeaderPaddingTopBottom: 1rem;
$dialogHeaderPaddingLeftRight: 1.5rem;
$dialogHeaderPadding: $dialogHeaderPaddingLeftRight $dialogHeaderPaddingLeftRight $dialogHeaderPaddingTopBottom;

// Overlay/Dialog/Body
$dialogContentPaddingTopBottom: 1.5rem;
$dialogContentPaddingLeftRight: 1.5rem;
$dialogContentPadding: $dialogContentPaddingTopBottom $dialogContentPaddingLeftRight;

// Overlay/Dialog/Footer
$dialogFooterBorderColor: $surface-transparent;
$dialogFooterBorder: 1px solid $dialogFooterBorderColor;
$dialogFooterPaddingTopBottom: 0rem;
$dialogFooterPaddingLeftRight: 1.5rem;
$dialogFooterPadding: $dialogFooterPaddingTopBottom $dialogFooterPaddingLeftRight $dialogFooterPaddingLeftRight;

// Menu/Common
$verticalMenuPadding: 0.25rem;
$menuSeparatorMarginTopBottom: 0.25rem;
$menuSeparatorMarginLeftRight: 0rem;
$menuSeparatorMargin: $menuSeparatorMarginTopBottom $menuSeparatorMarginLeftRight;
$menuWidth: 8rem;
$menuBg: $surface-transparent;
$menuBorderColor: $surface-transparent;
$menuBorder: none;
$menuTextColor: $textSecondaryColor;
$menuNodeChildrenPadding: 0.75rem;

// Menu/Item
$menuitemPaddingTopBottom: 0.5rem;
$menuitemPaddingLeftRight: 0.75rem;
$menuitemPadding: $menuitemPaddingTopBottom $menuitemPaddingLeftRight;
$menuitemSpacing: 0.25rem;
$menuitemBorderRadius: 0.5rem;
$menuitemIconColor: $textSecondaryColor;
$menuitemBg: $surface-transparent;
$menuitemBorderColor: $surface-transparent;
$menuitemBorder: 1px solid $menuitemBorderColor;
$menuitemTextColor: $textSecondaryColor;
$menuitemHoverBg: $surface-hover;
$menuitemHoverTextColor: $textColor;
$menuitemHoverIconColor: $textColor;
$menuitemFocusBg: $surface-hover;
$menuitemFocusTextColor: $textColor;
$menuitemFocusIconColor: $textColor;
$menuitemActiveBg: $primaryColor;
$menuitemActiveTextColor: $primaryColorText;
$menuitemActiveIconColor: $primaryColorText;
$menuitemActiveHoverBg: $primaryColorHover;
$menuitemSubmenuIconFontSize: 1.25rem;

// Menu/Submenu
$submenuHeaderMargin: 0.25rem;
$submenuHeaderPadding: $menuitemPadding;
$submenuHeaderBg: $surface-transparent;
$submenuHeaderTextColor: $textSecondaryColor;
$submenuHeaderFontSize: 0.875rem;
$submenuHeaderFontWeight: bold;
$submenuHeaderBorderRadius: $menuitemBorderRadius;
$submenuHeaderBorderColor: $surface-transparent;
$submenuHeaderBorder: 1px solid $submenuHeaderBorderColor;

// Menu/Overlay
$overlayMenuBg: $overlayContentBg;
$overlayMenuBorderColor: $overlayContentBorderColor;
$overlayMenuBorder: 1px solid $overlayMenuBorderColor;
$overlayMenuShadow: $overlayContainerShadow;
$overlayMenuPadding: $verticalMenuPadding;

// Menu/Breadcrumb
$breadcrumbPadding: 0rem;
$breadcrumbBg: $surface-transparent;
$breadcrumbBorder: none;
$breadcrumbItemTextColor: $menuitemTextColor;
$breadcrumbItemIconColor: $menuitemTextColor;
$breadcrumbLastItemTextColor: $menuitemTextColor;
$breadcrumbLastItemIconColor: $menuitemTextColor;
$breadcrumbSeparatorColor: $textColor;

// Form/InputText
$inputPaddingTopBottom: 0rem;
$inputPaddingLeftRight: 0.75rem;
$inputPadding: $inputPaddingTopBottom $inputPaddingLeftRight;
$inputTextFontSize: 1rem;
$inputBg: $surface-ground;
$inputTextColor: $textColor;
$inputIconColor: $textColor;
$inputBorderColor: $surface-border;
$inputBorder: 1px solid $inputBorderColor;
$inputHoverBorderColor: $primaryColor;
$inputFocusBorderColor: $primaryColor;
$inputErrorBorderColor: $errorColor;
$inputPlaceholderTextColor: $textSecondaryColor;

// Form/InputGroup
$inputGroupBg: $inputBg;
$inputGroupTextColor: $textSecondaryColor;
$inputGroupAddOnMinWidth: 2.5rem;

// Form/Checkbox
$checkboxWidth: 1.5rem;
$checkboxHeight: 1.5rem;
$checkboxBorder: $inputBorder;
$checkboxBorderRadius: 0.25rem;
$checkboxIconFontSize: 1rem;
$checkboxActiveBorderColor: $primaryColor;
$checkboxActiveBg: $primaryColor;
$checkboxIconActiveColor: $primaryColorText;
$checkboxActiveHoverBg: $primaryColorHover;
$checkboxIconActiveHoverColor: $primaryColorText;
$checkboxActiveHoverBorderColor: $primaryColorHover;

// Form/RadioButton
$radiobuttonWidth: 1.5rem;
$radiobuttonHeight: 1.5rem;
$radiobuttonBorder: $inputBorder;
$radiobuttonIconSize: 0.75rem;
$radiobuttonActiveBorderColor: $primaryColor;
$radiobuttonActiveBg: $primaryColor;
$radiobuttonIconActiveColor: $primaryColorText;
$radiobuttonActiveHoverBg: $primaryColorHover;
$radiobuttonIconActiveHoverColor: $primaryColorText;
$radiobuttonActiveHoverBorderColor: $primaryColorHover;

// Form/inputSwitch
$inputSwitchWidth: 2.5rem;
$inputSwitchHeight: 1.5rem;
$inputSwitchBorderRadius: 100px;
$inputSwitchHandleWidth: 1rem;
$inputSwitchHandleHeight: 1rem;
$inputSwitchHandleBorderRadius: 100px;
$inputSwitchSliderPadding: 0.25rem;
$inputSwitchSliderOffBg: $surface-300;
$inputSwitchHandleOffBg: $inputBg;
$inputSwitchSliderOffHoverBg: $primaryColorHover;
$inputSwitchSliderOnBg: $primaryColor;
$inputSwitchSliderOnHoverBg: $primaryColorHover;
$inputSwitchHandleOnBg: $inputBg;

// Form/InputOpt
$inputOptFontSize: 1.5rem;

// Form/Rating
$ratingIconFontSize: 1.25rem;
$ratingCancelIconColor: $textSecondaryColor;
$ratingCancelIconHoverColor: $textColor;
$ratingStarIconOffColor: $textSecondaryColor;
$ratingStarIconOnColor: $warning-400;
$ratingStarIconHoverColor: $warning-500;

// Form/ToggleButton
$toggleButtonBg: $white-20;
$toggleButtonBorderColor: $surface-transparent;
$toggleButtonBorder: 1px solid trasparent;
$toggleButtonTextColor: $textSecondaryColor;
$toggleButtonIconColor: $textSecondaryColor;
$toggleButtonHoverBg: $primary-alpha;
$toggleButtonHoverBorderColor: $surface-transparent;
$toggleButtonHoverTextColor: $primaryColor;
$toggleButtonIconHoverColor: $primaryColor;
$toggleButtonActiveBg: $primaryColor;
$toggleButtonActiveBorderColor: $surface-transparent;
$toggleButtonActiveTextColor: $primaryColorText;
$toggleButtonIconActiveColor: $primaryColorText;
$toggleButtonActiveHoverBg: $primaryColorHover;
$toggleButtonActiveHoverBorderColor: $surface-transparent;
$toggleButtonTextActiveHoverColor: $primaryColorText;
$toggleButtonIconActiveHoverColor: $primaryColorText;

// Panel/ScrollPanel
$scrollPanelTrackBg: $white-20;
$scrollPanelTrackBorder: 0 none;

// Panel/Divider
$dividerHorizontalMarginTopBottom: 1rem;
$dividerHorizontalMarginLeftRight: 0rem;
$dividerHorizontalMargin: $dividerHorizontalMarginTopBottom $dividerHorizontalMarginLeftRight;
$dividerHorizontalPaddingTopBottom: 0rem;
$dividerHorizontalPaddingLeftRight: 1rem;
$dividerHorizontalPadding: $dividerHorizontalPaddingTopBottom $dividerHorizontalPaddingLeftRight;
$dividerVerticalMarginTopBottom: 0rem;
$dividerVerticalMarginLeftRight: 1rem;
$dividerVerticalMargin: $dividerVerticalMarginTopBottom $dividerVerticalMarginLeftRight;
$dividerVerticalPaddingTopBottom: 1rem;
$dividerVerticalPaddingLeftRight: 0rem;
$dividerVerticalPadding: $dividerVerticalPaddingTopBottom $dividerVerticalPaddingLeftRight;
$dividerSize: 1px;

// Panel/TabView
$tabviewNavBg: $surface-transparent;
$tabviewNavBorderWidth: 1px;
$tabviewNavBorderColor: $surface-border;
$tabviewNavBorder: $tabviewNavBorderWidth solid $tabviewNavBorderColor;
$tabviewHeaderSpacing: 1.5rem;
$tabviewHeaderBorderWidth: 0.25rem;
$tabviewHeaderBorderColor: $surface-transparent;
$tabviewHeaderBorder: $tabviewHeaderBorderWidth solid $tabviewHeaderBorderColor;
$tabviewHeaderBg: $surface-transparent;
$tabviewHeaderTextColor: $textSecondaryColor;
$tabviewHeaderFontWeight: normal;
$tabviewHeaderPaddingTopBottom: 1rem;
$tabviewHeaderPaddingLeftRight: 0rem;
$tabviewHeaderPadding: $tabviewHeaderPaddingTopBottom $tabviewHeaderPaddingLeftRight;
$tabviewHeaderMargin: 0;
$tabviewHeaderHoverBg: $surface-transparent;
$tabviewHeaderHoverBorderColor: $surface-transparent;
$tabviewHeaderHoverTextColor: $primaryColor;
$tabviewHeaderActiveBg: $surface-transparent;
$tabviewHeaderActiveBorderColor: $primaryColor;
$tabviewHeaderActiveTextColor: $primaryColor;
$tabviewContentBorder: none;
$tabviewContentBg: $surface-transparent;
$tabviewContentTextColor: $textSecondaryColor;
$tabviewContentPadding: $tabviewHeaderPadding;

// Panel/Panel/Header
$panelHeaderBorderColor: $surface-border;
$panelHeaderBorder: 1px solid $panelHeaderBorderColor;
$panelHeaderBg: $surface-ground;
$panelHeaderTextColor: $textColor;
$panelHeaderFontWeight: bold;
$panelHeaderPaddingTopBottom: $dialogHeaderPaddingTopBottom;
$panelHeaderPaddingLeftRight: $dialogHeaderPaddingLeftRight;
$panelHeaderPadding: $panelHeaderPaddingLeftRight $panelHeaderPaddingLeftRight $panelHeaderPaddingTopBottom;
$panelToggleableHeaderPadding: 0rem;
$panelHeaderHoverBg: #ffffff;
$panelHeaderHoverBorderColor: #ffffff;
$panelHeaderTextHoverColor: #ffffff;

// Panel/Panel/Body
$panelContentBorderColor: $surface-border;
$panelContentBorder: 1px solid $panelContentBorderColor;
$panelContentBg: $surface-ground;
$panelContentEvenRowBg: #ffffff;
$panelContentTextColor: $textColor;
$panelContentPadding: 1rem;

// Panel/Panel/Footer
$panelFooterBorderColor: $surface-transparent;
$panelFooterBg: $surface-ground;
$panelFooterTextColor: $textSecondaryColor;
$panelFooterPadding: 0rem;
$panelFooterBorder: $panelHeaderBorder;

// Message/Toast
$toastIconFontSize: 2rem;
$toastMessageTextMargin: 0rem;
$toastMargin: 0.25rem;
$toastPadding: 1rem;
$toastBorderWidth: 0.25rem;
$toastShadow: $overlayContainerShadow;
$toastOpacity: 1;
$toastTitleFontWeight: bold;
$toastDetailMargin: 0rem;

// Misc/ProgressBar
$progressBarHeight: 1rem;
$progressBarBorder: none;
$progressBarBg: $white-20;
$progressBarValueBg: $primaryColor;
$progressBarValueTextColor: $primaryColorText;

// Form/Slider
$sliderBorder: none;
$sliderBg: $progressBarBg;
$sliderHorizontalHeight: 0.25rem;
$sliderVerticalWidth: 0.25rem;
$sliderHandleWidth: 1.25rem;
$sliderHandleHeight: 1.25rem;
$sliderHandleBg: $primaryColor;
$sliderHandleHoverBg: $primaryColorHover;
$sliderHandleBorderRadius: 1rem;
$sliderHandleHoverBorderColor: $surface-transparent;
$sliderHandleBorder: none;
$sliderRangeBg: $primaryColor;

// Form/SelectButton
$selectButtonGroupBg: $white-20;
$selectButtonGroupPadding: 0.25rem;
$selectButtonBg: $surface-transparent;
$selectButtonBorderColor: $surface-transparent;
$selectButtonBorder: 1px solid trasparent;
$selectButtonBorderRadius: 0.25rem;
$selectButtonTextColor: $textSecondaryColor;
$selectButtonIconColor: $textSecondaryColor;
$selectButtonHoverBg: $surface-ground;
$selectButtonHoverBorderColor: $surface-transparent;
$selectButtonHoverTextColor: $textColor;
$selectButtonIconHoverColor: $textColor;
$selectButtonActiveBg: $surface-ground;
$selectButtonActiveBorderColor: $surface-transparent;
$selectButtonActiveTextColor: $primaryColor;
$selectButtonIconActiveColor: $primaryColor;
$selectButtonActiveHoverBg: $surface-ground;
$selectButtonActiveHoverBorderColor: $surface-transparent;
$selectButtonTextActiveHoverColor: $textColor;
$selectButtonIconActiveHoverColor: $textColor;

// Form/Listbox
$inputListBg: $overlayContentBg;
$inputListTextColor: $menuTextColor;
$inputListBorderColor: $overlayContentBorderColor;
$inputListBorder: 1px solid $inputListBorderColor;
$inputListPadding: $verticalMenuPadding;
$inputListItemPaddingTopBottom: $menuitemPaddingTopBottom;
$inputListItemPaddingLeftRight: $menuitemPaddingLeftRight;
$inputListItemPadding: $inputListItemPaddingTopBottom $inputListItemPaddingLeftRight;
$inputListItemMargin: $menuSeparatorMargin;
$inputListItemBorderColor: $menuitemBorderColor;
$inputListItemBorder: 1px solid $inputListItemBorderColor;
$inputListItemBorderRadius: $menuitemBorderRadius;
$inputListItemBg: $menuitemBg;
$inputListItemTextColor: $menuitemTextColor;
$inputListItemHoverBg: $menuitemHoverBg;
$inputListItemHoverTextColor: $menuitemHoverTextColor;
$inputListItemFocusBg: $menuitemFocusBg;
$inputListItemFocusTextColor: $menuitemFocusTextColor;
$inputListItemFocusShadow: $focusShadow;
$inputListHeaderPadding: $submenuHeaderPadding;
$inputListHeaderMargin: 0rem;
$inputListHeaderBg: $submenuHeaderBg;
$inputListHeaderTextColor: $submenuHeaderTextColor;
$inputListHeaderBorderColor: $submenuHeaderBorderColor;
$inputListHeaderBorder: 1px solid $inputListHeaderBorderColor;
$listItemTransition: .2s;

// Form/Overlay
$inputOverlayBg: $inputListBg;
$inputOverlayHeaderBg: $inputListHeaderBg;
$inputOverlayBorderColor: $inputListBorderColor;
$inputOverlayBorder: 1px solid $inputOverlayBorderColor;
$inputOverlayShadowColor: $black-40;
$inputOverlayShadow: 0 $focusShadowWidth $focusShadowWidth 0 $inputOverlayShadowColor;

// Form/Password
$passwordMeterBg: $progressBarBg;
$passwordWeakBg: $danger-400;
$passwordMediumBg: $warning-400;
$passwordStrongBg: $success-400;

// Form/Calendar
$calendarTableMargin: 0rem;
$calendarPadding: 0.75rem;
$calendarBg: $inputListBg;
$calendarInlineBg: $calendarBg;
$calendarTextColor: $inputListTextColor;
$calendarBorderColor: $inputListBorderColor;
$calendarBorder: 1px solid $calendarBorderColor;
$calendarOverlayBorderColor: $inputOverlayBorderColor;
$calendarOverlayBorder: 1px solid $calendarOverlayBorderColor;
$calendarHeaderPaddingBottom: 0.5rem;
$calendarHeaderPadding: 0 0 $calendarHeaderPaddingBottom;
$calendarHeaderBg: $inputListHeaderBg;
$calendarInlineHeaderBg: $calendarBg;
$calendarHeaderBorder: none;
$calendarHeaderTextColor: $inputListHeaderTextColor;
$calendarHeaderFontWeight: bold;
$calendarHeaderCellPadding: 0.25rem;
$calendarMonthYearHeaderHoverTextColor: $primaryColor;
$calendarCellDatePadding: 0.25rem;
$calendarCellDateWidth: 2rem;
$calendarCellDateHeight: 2rem;
$calendarCellDateBorderRadius: $borderRadius;
$calendarCellDateBorderColor: $surface-transparent;
$calendarCellDateBorder: 1px solid $calendarCellDateBorderColor;
$calendarCellDateHoverBg: $surface-hover;
$calendarCellDateHoverText: $textColor;
$calendarCellDateTodayBg: $surface-transparent;
$calendarCellDateTodayBorderColor: $surface-hover;
$calendarCellDateTodayTextColor: $calendarTextColor;
$calendarButtonBarPaddingTop: 0rem;
$calendarButtonBarPadding: $calendarButtonBarPaddingTop 0 0;
$calendarTimePickerPadding: String value;
$calendarTimePickerElementPadding: String value;
$calendarTimePickerTimeFontSize: 1.25rem;
$calendarBreakpoint: 769px;
$calendarCellDatePaddingSM: 0.25rem;

// Button/Severity/Warning/Outlined
$warningOutlinedButtonBg: $surface-transparent;
$warningOutlinedButtonTextColor: $warningButtonBg;
$warningOutlinedButtonBorderColor: $warning-800;
$warningOutlinedButtonHoverBg: $surface-transparent;
$warningOutlinedButtonHoverTextColor: $warningButtonBg;
$warningOutlinedButtonHoverBorderColor: $warningButtonBg;
$warningOutlinedButtonActiveBg: $surface-transparent;
$warningOutlinedButtonActiveTextColor: $warningButtonBg;
$warningOutlinedButtonActiveBorderColor: $warning-800;

// Button/Severity/Warning/Text
$warningTextButtonBg: $surface-ground;
$warningTextButtonTextColor: $warningButtonBg;
$warningTextButtonHoverBg: $warning-alpha;
$warningTextButtonHoverTextColor: $warningButtonBg;
$warningTextButtonActiveBg: $surface-ground;
$warningTextButtonActiveTextColor: $warningButtonBg;

// Message/Messages
$messageMargin: 0rem;
$messagePadding: 1rem;
$messageBorderWidth: 0.25rem;
$messageIconFontSize: 2rem;
$messageTextFontSize: 1rem;
$messageTextFontWeight: normal;
$messageTextColor: $textColor;
$messageTextSummaryFontSize: 1rem;
$messageTextSummaryFontWeight: bold;
$messageTextSummaryColor: $textColor;
$messageTextDetailFontSize: 0.875rem;
$messageTextDetailFontWeight: normal;
$messageTextDetailColor: $textSecondaryColor;

// Message/InlineMessage
$inlineMessagePadding: 1rem;
$inlineMessageMargin: 0rem;
$inlineMessageIconFontSize: 2rem;
$inlineMessageTextFontSize: 1rem;
$inlineMessageBorderWidth: 0.25rem;

// Message/Severities/Info
$infoMessageBg: $info-0;
$infoMessageBorderColor: $info-800;
$infoMessageBorder: 1px solid $infoMessageBorderColor;
$infoMessageIconColor: $info-400;
$infoMessageTextColor: $textColor;

// Message/Severities/Success
$successMessageBg: $success-0;
$successMessageBorderColor: $success-800;
$successMessageBorder: 1px solid $successMessageBorderColor;
$successMessageIconColor: $success-400;
$successMessageTextColor: $textColor;

// Message/Severities/Warning
$warningMessageBg: $warning-0;
$warningMessageBorderColor: $warning-800;
$warningMessageBorder: 1px solid $warningMessageBorderColor;
$warningMessageIconColor: $warning-400;
$warningMessageTextColor: $textColor;

// Message/Severities/Danger
$dangerMessageBg: $danger-0;
$dangerMessageBorderColor: $danger-800;
$dangerMessageBorder: 1px solid $dangerMessageBorderColor;
$dangerMessageIconColor: $danger-400;
$dangerMessageTextColor: $textColor;

// Data/Paginator
$paginatorBg: $surface-transparent;
$paginatorTextColor: $textColor;
$paginatorBorderColor: $surface-transparent;
$paginatorBorder: solid $paginatorBorderColor;
$paginatorBorderWidth: 0;
$paginatorPaddingTopBottom: 0.5rem;
$paginatorPaddingLeftRight: 0rem;
$paginatorPadding: $paginatorPaddingTopBottom $paginatorPaddingLeftRight;
$paginatorElementWidth: 2.5rem;
$paginatorElementHeight: 2.5rem;
$paginatorElementBorderColor: $surface-transparent;
$paginatorElementBorder: 1px solid $paginatorElementBorderColor;
$paginatorElementBg: $actionIconBg;
$paginatorElementIconColor: $actionIconColor;
$paginatorElementHoverBg: $actionIconHoverBg;
$paginatorElementHoverBorderColor: $actionIconHoverBorderColor;
$paginatorElementIconHoverColor: $actionIconHoverColor;
$paginatorElementBorderRadius: $actionIconBorderRadius;
$paginatorElementMargin: 0.25rem;
$paginatorElementPadding: 0rem;

// Data/DataTable/Common
$tableResizerHelperBg: $surface-100;
$tableDragHelperBg: $surface-200;
$tableCellContentAlignment: left;
$tableTopPaginatorBorderWidth: 1px 0 1px 0;
$tableBottomPaginatorBorderWidth: 0 0 0 0;
$tableScaleSM: .5;
$tableScaleLG: 1.25;

// Data/DataTable/Header
$tableHeaderBorderColor: $surface-100;
$tableHeaderBorder: 1px solid $tableHeaderBorderColor;
$tableHeaderBorderWidth: 0 0 1px 0;
$tableHeaderBg: $surface-50;
$tableHeaderTextColor: $textColor;
$tableHeaderFontWeight: 500;
$tableHeaderPaddingTopBottom: 1rem;
$tableHeaderPaddingLeftRight: 1rem;
$tableHeaderPadding: $tableHeaderPaddingTopBottom $tableHeaderPaddingLeftRight;
$tableHeaderCellPaddingTopBottom: $tableHeaderPaddingTopBottom;
$tableHeaderCellPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableHeaderCellPadding: $tableHeaderCellPaddingTopBottom $tableHeaderCellPaddingLeftRight;
$tableHeaderCellBg: $tableHeaderBg;
$tableHeaderCellTextColor: $textColor;
$tableHeaderCellIconColor: $textColor;
$tableHeaderCellFontWeight: $tableHeaderFontWeight;
$tableHeaderCellBorderColor: $tableHeaderBorderColor;
$tableHeaderCellBorder: 1px solid $tableHeaderCellBorderColor;
$tableHeaderCellBorderWidth: 0 0 1px 0;
$tableHeaderCellHoverBg: $surface-200;
$tableHeaderCellTextHoverColor: $textColor;
$tableHeaderCellIconHoverColor: $textColor;
$tableHeaderCellHighlightBg: $surface-200;
$tableHeaderCellHighlightTextColor: $textColor;
$tableHeaderCellHighlightIconColor: $primaryColor;
$tableSortableColumnBadgeSize: 1.25rem;

// Data/DataTable/Body
$tableBodyRowBg: $surface-ground;
$tableBodyRowTextColor: $textColor;
$tableBodyRowEvenBg: $surface-50;
$tableBodyRowHoverBg: $surface-200;
$tableBodyRowTextHoverColor: $textColor;
$tableBodyCellBorderColor: $tableHeaderBorderColor;
$tableBodyCellBorder: 1px solid $tableBodyCellBorderColor;
$tableBodyCellBorderWidth: 0 0 1px 0;
$tableBodyCellPaddingTopBottom: $tableHeaderCellPaddingTopBottom;
$tableBodyCellPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableBodyCellPadding: $tableBodyCellPaddingTopBottom $tableBodyCellPaddingLeftRight;
$tableBodyCellHighlightBg: $surface-200;
$tableBodyCellHighlightTextColor: $textColor;

// Data/DataTable/Footer
$tableFooterCellPaddingTopBottom: $tableHeaderCellPaddingTopBottom;
$tableFooterCellPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableFooterCellPadding: $tableFooterCellPaddingTopBottom $tableFooterCellPaddingLeftRight;
$tableFooterCellBg: $tableHeaderBg;
$tableFooterCellTextColor: $textColor;
$tableFooterCellFontWeight: $tableHeaderFontWeight;
$tableFooterCellBorderColor: $tableHeaderBorderColor;
$tableFooterCellBorder: 1px solid $tableFooterCellBorderColor;
$tableFooterCellBorderWidth: 0 0 1px 0;
$tableFooterBorderColor: $tableHeaderBorderColor;
$tableFooterBorder: 1px solid $tableFooterBorderColor;
$tableFooterBorderWidth: 0 0 1px 0;
$tableFooterBg: $tableHeaderBg;
$tableFooterTextColor: $textColor;
$tableFooterFontWeight: $tableHeaderFontWeight;
$tableFooterPaddingTopBottom: $tableHeaderCellPaddingTopBottom;
$tableFooterPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableFooterPadding: $tableFooterPaddingTopBottom $tableFooterPaddingLeftRight;

// Data/Timeline
$timelineTextColor: $textColor;
$timelineEventMarkerWidth: 1rem;
$timelineEventMarkerHeight: 1rem;
$timelineEventMarkerBorderRadius: 8rem;
$timelineEventConnectorSize: 1px;
$timelineEventMarkerBorderColor: $primaryColor;
$timelineEventMarkerBorderSize: 0.25rem;
$timelineEventMarkerBorder: $timelineEventMarkerBorderSize solid $timelineEventMarkerBorderColor;
$timelineEventMarkerBackground: $surface-ground;
$timelineEventColor: $surface-border;
$timelineVerticalEventContentPaddingTopBottom: 0rem;
$timelineVerticalEventContentPaddingLeftRight: 0.5rem;
$timelineVerticalEventContentPadding: $timelineVerticalEventContentPaddingTopBottom $timelineVerticalEventContentPaddingLeftRight;
$timelineHorizontalEventContentPaddingTopBottom: 0.5rem;
$timelineHorizontalEventContentPaddingLeftRight: 0rem;
$timelineHorizontalEventContentPadding: $timelineHorizontalEventContentPaddingTopBottom $timelineHorizontalEventContentPaddingLeftRight;

// Media/Carousel
$carouselIndicatorsPadding: 1rem;
$carouselIndicatorBg: $surface-border;
$carouselIndicatorHoverBg: $surface-400;
$carouselIndicatorActiveBg: $surface-400;
$carouselIndicatorBorderRadius: 1rem;
$carouselIndicatorWidth: 0.5rem;
$carouselIndicatorHeight: 0.5rem;

// Media/Galleria/Close
$galleriaMaskBg: $maskBg;
$galleriaCloseIconMargin: 0.5rem;
$galleriaCloseIconFontSize: 2rem;
$galleriaCloseIconBg: $surface-transparent;
$galleriaCloseIconColor: $white-60;
$galleriaCloseIconHoverBg: $white-20;
$galleriaCloseIconHoverColor: $white-80;
$galleriaCloseIconWidth: 4rem;
$galleriaCloseIconHeight: 4rem;
$galleriaCloseIconBorderRadius: $borderRadius;

// Media/Galleria/Navigator
$galleriaItemNavigatorBg: $surface-transparent;
$galleriaItemNavigatorColor: $white-60;
$galleriaItemNavigatorMargin: 0.5rem;
$galleriaItemNavigatorFontSize: 2rem;
$galleriaItemNavigatorHoverBg: $white-20;
$galleriaItemNavigatorHoverColor: $white-80;
$galleriaItemNavigatorWidth: 4rem;
$galleriaItemNavigatorHeight: 4rem;
$galleriaItemNavigatorBorderRadius: $borderRadius;

// Media/Galleria/Caption
$galleriaCaptionBg: $black-60;
$galleriaCaptionTextColor: $white-80;
$galleriaCaptionPadding: 1rem;

// Media/Galleria/Indicators
$galleriaIndicatorsPadding: 1rem;
$galleriaIndicatorBg: $white-40;
$galleriaIndicatorHoverBg: $white-80;
$galleriaIndicatorBorderRadius: $carouselIndicatorBorderRadius;
$galleriaIndicatorWidth: $carouselIndicatorWidth;
$galleriaIndicatorHeight: $carouselIndicatorHeight;
$galleriaIndicatorsBgOnItem: $surface-transparent;
$galleriaIndicatorBgOnItem: $white-40;
$galleriaIndicatorHoverBgOnItem: $white-80;
$galleriaIndicatorActiveBgOnItem: $white-80;

// Media/Galleria/Thumbnail
$galleriaThumbnailContainerBg: $black-100;
$galleriaThumbnailContainerPaddingTopBottom: 0.5rem;
$galleriaThumbnailContainerPaddingLeftRight: 0.5rem;
$galleriaThumbnailContainerPadding: $galleriaThumbnailContainerPaddingTopBottom $galleriaThumbnailContainerPaddingLeftRight;
$galleriaThumbnailNavigatorBg: $surface-transparent;
$galleriaThumbnailNavigatorColor: $white-60;
$galleriaThumbnailNavigatorHoverBg: $white-20;
$galleriaThumbnailNavigatorHoverColor: $white-80;
$galleriaThumbnailNavigatorBorderRadius: $borderRadius;
$galleriaThumbnailNavigatorWidth: $actionIconWidth;
$galleriaThumbnailNavigatorHeight: $actionIconHeight;

// Panel/Stepper
$stepsItemBg: $surface-ground;
$stepsItemBorderColor: $surface-border;
$stepsItemBorder: 1px solid $stepsItemBorderColor;
$stepsItemTextColor: $textColor;
$stepsItemFontWeight: 500;
$stepsItemNumberWidth: 1.5rem;
$stepsItemNumberHeight: 1.5rem;
$stepsItemNumberFontSize: 1rem;
$stepsItemNumberColor: $textColor;
$stepsItemNumberBorderRadius: 8rem;

// Panel/Accordion
$accordionSpacing: 0rem;
$accordionHeaderBorderColor: $surface-border;
$accordionHeaderBorder: 1px solid $accordionHeaderBorderColor;
$accordionHeaderBg: $surface-transparent;
$accordionHeaderTextColor: $textSecondaryColor;
$accordionHeaderFontWeight: 700;
$accordionHeaderPaddingTopBottom: 1rem;
$accordionHeaderPaddingLeftRIght: 0rem;
$accordionHeaderPadding: $accordionHeaderPaddingTopBottom $accordionHeaderPaddingLeftRIght;
$accordionHeaderHoverBg: $surface-transparent;
$accordionHeaderHoverBorderColor: $surface-border;
$accordionHeaderHoverTextColor: $textColor;
$accordionHeaderActiveBg: $surface-transparent;
$accordionHeaderActiveBorderColor: $surface-border;
$accordionHeaderActiveTextColor: $textColor;
$accordionHeaderActiveHoverBg: $surface-transparent;
$accordionHeaderActiveHoverBorderColor: $surface-border;
$accordionHeaderActiveHoverTextColor: $textColor;
$accordionContentBorder: none;
$accordionContentBg: $surface-transparent;
$accordionContentTextColor: $textColor;
$accordionContentPaddingTop: 0rem;
$accordionContentPaddingRight: 0rem;
$accordionContentPaddingBottom: 1rem;
$accordionContentPaddingLeft: 1.75rem;
$accordionContentPadding: $accordionContentPaddingTop $accordionContentPaddingRight $accordionContentPaddingBottom $accordionContentPaddingLeft;

// Panel/Card
$cardBg: $surface-ground;
$cardBorderRadius: $borderRadius;
$cardBorderColor: $surface-border;
$cardBorder: 1px solid $cardBorderColor;
$cardTextColor: $textColor;
$cardTextFontSize: 1rem;
$cardBodyPadding: 1rem;
$cardTitleFontSize: 1.125rem;
$cardTitleFontWeight: 700;
$cardSubTitleFontSize: 0.875rem;
$cardSubTitleFontWeight: 400;
$cardSubTitleColor: $textSecondaryColor;
$cardContentPaddingTop: 1rem;
$cardContentPadding: $cardContentPaddingTop 0 0;
$cardFooterPaddingTop: 1rem;
$cardFooterPadding: $cardFooterPaddingTop 0 0;
$cardShadow: $overlayContainerShadow;


// Button/Scondary
$secondaryButtonBg: $black-40;
$secondaryButtonTextColor: $white-100;