.p-accordion {
    .p-accordion-header {
        .p-accordion-header-link {
            display: flex;
            gap: $inlineSpacing;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            color: $accordionHeaderTextColor;
            font-weight: $accordionHeaderFontWeight;

            padding: $accordionHeaderPadding;
            border-top: $accordionHeaderBorder;

            background: $accordionHeaderBg;
            transition: $listItemTransition;

            .p-accordion-toggle-icon {
                font-size: 1.25rem;
            }
        }

        &:not(.p-disabled) {
            .p-accordion-header-link {
                &:focus-visible {
                    @include focused();
                }
            }
        }

        &:not(.p-highlight):not(.p-disabled):hover {
            .p-accordion-header-link {
                background: $accordionHeaderHoverBg;
                border-color: $accordionHeaderHoverBorderColor;
                color: $accordionHeaderHoverTextColor;
            }
        }

        &:not(.p-disabled).p-highlight {
            .p-accordion-header-link {
                background: $accordionHeaderActiveBg;
                border-color: $accordionHeaderActiveBorderColor;
                color: $accordionHeaderActiveTextColor;
            }

            &:hover {
                .p-accordion-header-link {
                    border-color: $accordionHeaderActiveHoverBorderColor;
                    background: $accordionHeaderActiveHoverBg;
                    color: $accordionHeaderActiveHoverTextColor;
                }
            }
        }
    }

    .p-accordion-content {
        padding: $accordionContentPadding;
        border-bottom: $accordionContentBorder;
        background: $accordionContentBg;
        color: $accordionContentTextColor;
    }

    .p-accordion-tab {
        margin-bottom: $accordionSpacing;

        &:first-child {
            .p-accordion-header-link {
                border-top: none;
            }
        }

        .p-accordion-content {
            .p-accordion-header-link {
                border-top: $accordionHeaderBorder;
            }
        }
    }
}
