.p-divider {
    border-color: $dividerColor;

    .p-divider-content {
        background-color: $panelContentBg;
    }

    &.p-divider-horizontal {
        margin: $dividerHorizontalMargin;
        padding: $dividerHorizontalPadding;

        .p-divider-content {
            padding: 0 $inlineSpacing;
        }

        &:before {
            border-top-width: $dividerSize;
            border-top-color: $dividerColor;
        }

        &.p-divider-dash:before  {
            border-top-style: dashed;
        }
    }

    &.p-divider-vertical {
        margin: $dividerVerticalMargin;
        padding: $dividerVerticalPadding;

        .p-divider-content {
            padding: $inlineSpacing 0;
        }

        &:before {
            border-left-width: $dividerSize;
            border-left-color: $dividerColor;
        }

        &.p-divider-dash:before  {
            border-left-style: dashed;
        }
    }

  @for $i from 0 through 10 {
    $value: $i * 0.25rem;

    &.p-divider-my-#{$i} {
      margin: 0 $value !important;
    }
  }
}
