.p-badge {
    background: $badgeBg;
    color: $badgeTextColor;
    font-size: $badgeFontSize;
    font-weight: $badgeFontWeight;
    min-width: $badgeMinWidth;
    height: $badgeHeight;
    line-height: $badgeHeight;

    &.p-badge-success {
        background-color: $successButtonBg;
        color: $successButtonTextColor;
    }

    &.p-badge-info {
        background-color: $infoButtonBg;
        color: $infoButtonTextColor;
    }

    &.p-badge-warning {
        background-color: $warningButtonBg;
        color: $warningButtonTextColor;
    }

    &.p-badge-danger {
        background-color: $dangerButtonBg;
        color: $dangerButtonTextColor;
    }

    &.p-badge-dot {
        width: $badgeDotSize;
        height: $badgeDotSize;

        min-width: auto;
    }
}