@use "sass:math";

.p-breadcrumb {
	background: $breadcrumbBg;
	border: $breadcrumbBorder;
	padding: $breadcrumbPadding;

	.p-breadcrumb-list {
		li {
			.p-menuitem-link {
				transition: $listItemTransition;

				border-radius: $menuitemBorderRadius;
				padding: .25rem;

				&:focus-visible {
					@include focused();
				}

				&:hover {
					background-color: $menuitemHoverBg;
					.p-menuitem-text {
						color: $menuitemHoverTextColor;
					}

					.p-menuitem-icon {
						color: $menuitemHoverIconColor;
					}
				}

				.p-menuitem-text {
					color: $breadcrumbItemTextColor;
				}

				.p-menuitem-icon {
					color: $breadcrumbItemIconColor;
					font-size: $menuitemSubmenuIconFontSize;
				}
			}

			&.p-menuitem-separator {
				margin: 0 math.div($inlineSpacing, 2);
				color: $breadcrumbSeparatorColor;
				font-size: $menuitemSubmenuIconFontSize;
			}

			&:last-child {
				pointer-events: none;				
				opacity: .6;

				.p-menuitem-text {
					color: $breadcrumbLastItemTextColor;
				}

				.p-menuitem-icon {
					color: $breadcrumbLastItemIconColor;
				}
			}
		}
	}
}
